  <!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <link rel="stylesheet" href="style_footer.css">

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <!--<body id="registruotis" class="scrollspy">-->

      
<div class="navbar-fixed">
    <nav class="black">
      <div class="container">
        <div class="nav-wrapper">
          <a href="index.html" class="brand-logo">Komanda 8</a>    
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-small-only">
      <form>               
        <div class="input-field">
          <input id="search" type="search" required>
          <label for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
            </ul>
           <ul class="right hide-on-med-and-down">
            <li>
              <a href="index.html">Pagrindinis</a>
            </li>
            <li>
              <a href="index_login.html">Prisijungti</a>
            </li>

              
              
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <ul class="sidenav" id="mobile-demo">
    <li>
      <a href="#home"></a>
    </li>
    <li>
      <a href="#register">Registruotis</a>
    </li>
    <li>
      <a href="#login">Prisijungti</a>
    </li>
    <li>
      <a href="#uzsakymai">Užsakymai</a>
    </li>
    <li>
      <a href="#form">Anketa</a>
    </li>
    
    <form>
        <div class="input-field">
          <input id="search" type="search" required>
          <label for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    
    
  </ul>

<!------------------------------------------------------------>   
    

 <div class="container">
   <div id="signup">
      <div class="signup-screen">
         <div class="black white-text space-bot text-center">
            <h1> Registracija</h1>
           <div class="divider"></div>
         </div>
	            <div class="input-field col s6">
              <input id="first-name" type="text" class="validate" required>
              <label for="first-name">Vardas</label>
            </div>
            <div class="input-field col s6">
              <input id="last-name" type="text" class="validate" required>
              <label for="last-name">Pavardė</label>
             </div>
             <div class="input-field col s6">
              <input id="email" type="email" name="email" ng-model="email" class="validate" required>
              <label for="email">Email</label>
             </div>
             <p class="alert alert-danger" ng-show="form-register.email.$error.email">Netinkamas pašto adresas.</p>
             <div class="input-field col s6">
               <input id="password" type="password" name="password" ng-model="password" ng-minlength='6' class="validate" required>
               <label for="password">Slaptažodis</label>
              </div>
              <p class="alert alert-danger" ng-show="form-register.password.$error.minlength || form.password.$invalid">Slaptažodis turi būti bent aštuonių simbolių.</p>
              <div class="space-top text-center">
                <!---Re captcha V2----------------------------------------------> 

                  <html>
                    <head>
                      <div>
                      <title>reCAPTCHA demo: Simple page</title>
                      <script src="https://www.google.com/recaptcha/api.js" async defer></script>
                    </head>
                    <body>
                      <form action="?" method="POST">
                        <div class="g-recaptcha" data-sitekey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"></div>
                        <br/>
                      </form>
                    </div>
                    </body>
                  </html>


               <button ng-disabled="form-register.$invalid" class="waves-effect waves-light btn done">
               <i class="material-icons left">done</i> Registruotis
               </button>
               <button type="button" class="black  btn cancel">
               <i class="material-icons left">clear</i>Atšaukti
               </button>
               <h1> </h1>
              </div>
             </form>
           </div>
        </div>
    </div>
</body>


<!---page footer--------------------------------------->
<div>
  <footer class="footer">
      <div class="container bottom_border">
          <div class="row">
              <div class=" col-sm-4 col-md col-sm-4  col-12 col">
                  <h5 class="headin5_amrc col_white_amrc pt2">Komanda 8</h5>
                  <!--headin5_amrc-->
                  <p class="mb10">Komanda 8 - puslapis, kuriame galite greitai ir kokybiškai suplanuoti savo kelionę bei ją užsisakyti. 
                      Puslapyje galite planuoti kelionę po visą Europą.</p>
s


              </div>


              <div class=" col-sm-4 col-md  col-6 col">
                  <h5 class="headin5_amrc col_white_amrc pt2">Greitos nuorodos</h5>
                  <!--headin5_amrc-->
                  <ul class="footer_ul_amrc">
                      <li><a href="">Kelionių pasiūlymai</a></li>
                      <li><a href="">Pagalba</a></li>
                      <li><a href="">Privatumo politika</a></li>

                  </ul>
                  <!--footer_ul_amrc ends here-->
              </div>
s
          </div>
      </div>


      <div class="container">
          <ul class="foote_bottom_ul_amrc">
              <li><a href="index.html">Pagrindinis</a></li>
              <li><a href="">Apie</a></li>
              <li><a href="">Kelionės</a></li>
              <li><a href="">Kontaktai</a></li>
          </ul>
          <!--foote_bottom_ul_amrc ends here-->
          <p class="text-center">Copyright @2021 | Dizainas priklauso <a href="#">Komanda 8</a></p>
          <!--social_footer_ul ends here-->
      </div>

  </footer>
</div>

<!--FOR V2 Only:

With the following test keys, you will always get No CAPTCHA and all verification requests will pass.

Site key: 6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI

Secret key: 6LeIxAcTAAAAAGG-vFI1TnRWxMZNFuojJ4WifJWe

Source: Google reCAPTCHA FAQs Page

https://developers.google.com/recaptcha/docs/display#auto_render


-->

