

/* Emmjius keisti čia http://getemoji.com/
 */

 /*input:checked {
    height: 50px;
    width: 50px;
  }
 */
.rating {
	font-size: 30px;
	height: 30px;
	line-height: 30px;
}

.rating1:hover:before {
   content: "🤒";
    font-size: 30px;

  /*margin-left: -25px;
  -webkit-transform: scale(1.2);
    -webkit-transform: rotate(30deg);*/
}
.rating2:hover:before {
   content: "😣";
    font-size: 30px;
    position: absolute;
  /*margin-left: -15px;
    -webkit-transform: rotate(15deg);*/
}
.rating3:hover:before {
   content: "😐";
    font-size: 30px;
    position: absolute;
  /*margin-left: -10px;*/
}
.rating4:hover:before {
   content: "😎";
  font-size: 30px;
  position: absolute;
  /*margin-left: -15px;*/
    /*-webkit-transform: rotate(-15deg);*/
}
.rating5:hover:before {
   content: "🤑";
    font-size: 30px;
    position: absolute;
 /* margin-left: -25px;*/
  /*-webkit-transform: rotate(-30deg);*/
}


 input:checked + .rating1:hover:before ~.rating5:hover:before{
      content: "\f006";
    }